<!-- <app-server></app-server> -->
<router-outlet></router-outlet>
<!-- <input type="text"  [(ngModel)]="serverName">
<input type="text"  [(ngModel)]="serverContent">

<button type="submit" (click)="addServer()">Add Server</button>
<button type="submit" (click)="addBluePrint()">Add Blue Print</button> -->


<!-- The above code is in cockpit component -->
<app-cockpit (serverCreated)="addServer($event)" (bluePrintCreated)="addBluePrint($event)"></app-cockpit>

<!-- <div *ngFor="let element of server">
    <h1>{{element.name}}</h1>
    <p *ngIf="element.type === 'server'" style="color:green">{{element.content}}</p>
    <p *ngIf="element.type === 'blueprint'" style="color:blue">{{element.content}}</p>
</div> -->

<!-- the above code is in server-info componennt -->
<button type="submit" (click)="firstChange()">First Change</button>
<button type="submit" (click)="destroy()">Destroy the element</button>
<app-server-info [element]="singleServer" [name]="singleServer.name" *ngFor="let singleServer of server">
    <p *ngIf="singleServer.type === 'server'" style="color:green" #content>{{singleServer.content}}</p>
    <p *ngIf="singleServer.type === 'blueprint'" style="color:blue" #content>{{singleServer.content}}</p> 
</app-server-info>

<app-odd-even></app-odd-even>

<app-gamecontroller (game)="gameStart($event)" [increment]="count"  ></app-gamecontroller>
<app-odd *ngFor="let num of oddNumber" [oddNumber]="num" ></app-odd>
<app-even *ngFor="let num of evenNumber" [evenNumber]="num"></app-even>